out
dist
node_modules
.vscode-test
.vsix-serve
tsconfig.tsbuildinfo

client/out
client/node_modules

server/out
server/node_modules

**/.*bun-build
*.vsix
vscode-tikbook-*

./*.rsc

**/*.map
*.map

tests
examples

.scratch

.DS_Store

.vscode/sftp.json
*.code-workspace

cloc.*

# Environment variables for integration tests
.env
.env.local.sarbsettings
